{% extends "base.html" %}
{% block content %}
    <h4 class="mt-3">สถานที่</h4>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">ชื่อ</th>
                <th scope="col">ประเภท</th>
                <th scope="col">สถานที่</th>
                <th scope="col">สถานะ</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
         {% for room in rooms %}
            <tr>
                <td>{{room.name}}</td>
                <td>{{room.roomType.typeTitle}}</td>
                <td>{{room.location}}</td>
                {% if room.availableStatus == 'AVAILABLE' %}
                    <td>ใช้งานได้</td>
                    <td>
                        <a class="btn btn-outline-secondary" href="{% url 'book' roomId=room.id %}">จอง</a>
                    </td>
                {% else %}
                    <td>อยู่ระหว่างการปรับปรุง</td>
                    <td>
                    <a class="btn btn-outline-secondary disabled" href="">จอง</a>
                    </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>

    </table>
    </div>
{% endblock %}