{% extends "base.html" %}
{% block content %}

    <div class="mt-4">
        <h4>Profile</h4>
        <hr>
    </div>

    <div class="row">
        <div class="col-4">
            <img class='w-75' src="{{ socialAccount.extra_data.picture }}">
        </div>

        <div class="col-8">
            <p class="">ชื่อ-สกุล : {{user.first_name}} {{user.last_name}}</p>
            <p>รหัสนักศึกษา : {{studentId.studentId}}</p>
            <p>ชั้นปี : {{studentId.year}}</p>
            <p>Email : {{user.email}}</p>
        </div>
    </div>
    
    <div class="mt-4">
        <h4>ประวัติการจอง</h4>
        <div class="col-8">
            {% for book in booking %}
            <hr>
                <p>ชื่อโครงการ : {{book.title}}</p>
                <p>ผู้ขอใช้สถานที่ : {{book.bookerFirstName}} {{book.bookerLastName}} (สาขา : {{book.bookerBranch}})</p>
                <p>วันที่จอง : {{book.bookDate}}</p>
                <p>เวลาที่เริ่ม : {{book.startTime}} เวลาที่สิ้นสุด : {{book.endTime}}</p>
                {% if book.result == 'APPROVED' %}
                    <p>สถานะการอนุมัติ : อนุมัติ</p>
                {% elif book.result == 'DISAPPROVED' %}
                    <p>สถานะการอนุมัติ : ไม่ผ่านการอนุมัติ</p>
                {% else %}
                    <p>สถานะการอนุมัติ : รอการอนุมัติ</p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}