{% extends "base.html" %}
{% block content %}

    <div class="mt-4">
        <h4>Profile</h4>
        <hr>
    </div>

    <div class="row">
        <div class="col-4">
            <img class='w-75' src="{{ socialAccount.extra_data.picture }}">
        </div>

        <div class="col-8">
            <p class="">ชื่อ-สกุล : {{user.first_name}} {{user.last_name}}</p>
            <p>รหัสนักศึกษา : {{studentId.studentId}}</p>
            <p>ชั้นปี : {{studentId.year}}</p>
            <p>Email : {{user.email}}</p>
        </div>
    </div>
    
    <div class="mt-4">
        <h4>ประวัติการจอง</h4>
        <hr>
    </div>
{% endblock %}