{% extends 'base.html' %}
{% block content %}
    <div class="row mt-3 mb-3">
        <div class="col-6">
            <h4 class="">สิ่งอำนวยความสะดวก</h4>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-outline-secondary" href="{% url 'addfacility'%}">เพิ่มสิ่งอำนวยความสะดวก</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ชื่อสิ่งอำนวยความสะดวก</th>
                <th scope="col">คำอธิบาย</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
         {% for facility in facilities %}
                <tr>
                    <td>{{facility.name}}</td>
                    <td>{{facility.description}}</td>
                    <td class="d-flex justify-content-end pr-0">
                        <a class="btn btn-outline-secondary mr-2" href="{% url 'deleteFacility' facility_id=facility.id %}">แก้ไข</a>
                        <a class="btn btn-outline-secondary" href="{% url 'deleteFacility' facility_id=facility.id %}">ลบ</a>
                    </td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}