{% extends "base.html" %}
{% block content %}
    <div class="row mt-3 mb-3">
        <div class="col-6">
            <h4 class="">สถานที่</h4>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-outline-secondary" href="{% url 'createroom'%}">เพิ่มสถานที่</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ชื่อ</th>
                <th scope="col">ประเภท</th>
                <th scope="col">สถานที่</th>
                <th scope="col">สถานะ</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
         {% for room in rooms %}
                <tr>
                    <td>{{room.name}}</td>
                    <td>{{room.roomType.typeTitle}}</td>
                    <td>{{room.location}}</td>
                        {% if room.availableStatus == 'AVAILABLE' %}
                            <td>ใช้งานได้</td>
                        {% else %}
                            <td>อยู่ระหว่างการปรับปรุง</td>
                        {% endif %}
                    <td class="d-flex justify-content-end pr-0">
                        <a class="btn btn-outline-secondary mr-2" href="{% url 'deleteRoom' room_id=room.id %}">แก้ไข</a>
                        <a class="btn btn-outline-secondary" href="{% url 'deleteRoom' room_id=room.id %}">ลบ</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}