{% extends 'base.html' %}
{% block content %}
    <div class="row mt-3 mb-3">
        <div class="col-6">
            <h4 class="">ประเภทสถานที่</h4>
        </div>
        <div class="col-6 d-flex flex-row-reverse">
            <a class="btn btn-outline-secondary" href="{% url 'addtype'%}">เพิ่มประเภท</a>
        </div>
    </div>
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">ชื่อประเภท</th>
                <th scope="col"></th>
            </tr>
        </thead>

        <tbody>
         {% for roomType in types %}
            <tr>
                <td>{{roomType.typeTitle}}</td>
                <td class="d-flex justify-content-end pr-0">
                    <a class="btn btn-outline-secondary mr-2" href="{% url 'editRoomType' roomTypeId=roomType.id %}">แก้ไข</a>
                    <a class="btn btn-outline-secondary text-gray" data-toggle="modal" data-target="#exampleModalCenter" onclick="selectRoomType({{roomType.id}})">ลบ</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-9">
                            <p class="mb-0">ยืนยันที่จะลบประเภทสถานที่นี้</p>
                        </div>
                        <div class="col-3">
                            <button type="button" class="close normal-text" data-dismiss="modal" aria-label="Close">
                                <p aria-hidden="true" class="mb-0">ปิด</p>
                            </button>
                        </div>
                        <div class="col-12">
                            <hr>
                        </div>
                        <div class="col-12 modal-content-height">
                            <p>หากลบสถานที่นี้คำร้องขอใช้ถานที่ทั้งหมดจะถูกลบไปด้วย</p>
                            <a class="btn btn-outline-secondary ml-auto" onclick="deleteRoomType()">ยืนยัน</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style scoped>
        .text-gray {
            color: #6c757d !important;
        }

        .text-gray:hover {
            color: #fff !important;
        }

        .normal-text {
            font-size: 16px;
        }

        .modal-content {
            border-radius: 0;
            border: 0;
        }
    </style>
    <script>
        var selectedRoomTypeId = null

        function deleteRoomType() {
            window.location.replace('/management/deleteRoomType/'+selectedRoomTypeId);
        }

        function selectRoomType(Id) {
            selectedRoomTypeId = Id
        }
    </script>
{% endblock %}