{% extends 'base.html' %}
{% block content %}
    <div class="mt-4">
        <h4>รายละเอียด</h4>
        <div class="col-8">
            <hr>
            <p>ชื่อโครงการ : {{detail.title}}</p>
            <p>สถานที่/ห้อง : {{detail.room.name}}</p>
            <p>ผู้ขอใช้สถานที่ : {{detail.bookerFirstName}} {{detail.bookerLastName}} (สาขา : {{detail.bookerBranch}})</p>
            <p>เวลาใช้งานเริ่มต้น - สิ้นสุด : {{detail.startTime}} - {{detail.endTime}}</p>
        </div>
        <center>
            <a class="btn btn-success" href="{% url 'btnApprove' bookBy_id=detail.id%}">อนุมัติ</a>

            <a class="btn btn-danger" href="{% url 'request' %}">ไม่อนุมัติ</a>
        </center>
    </div>
{% endblock content %}